// Import your components CSS files here.

@import "alert";
@import "avatar";
@import "navbar";
@import "tracability-info";
@import "step-card";
@import "footer";
@import "product-card";
@import "map";

.column {flex-direction: column;}
.position-relative {position: relative;}
body {background: white;}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  }

