.btn-link {
  text-decoration: none !important;
  color: black !important;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}

.card-header {
  padding: 0.5rem 0 !important;
  background: white;
  border-bottom: none;
}

.card-body p {
  color: #616161;
  font-size: 14px;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow--down {
  transform: rotate(-45deg);
  position: absolute !important;
  right: 12px;
  top: 22%;
}

.arrow {
  position: relative;
  display: inline-block;
  margin: 0;
  transition: all 0.2s ease;

  //set size
  padding: 7px;

  //set tickness
  box-shadow: 4px -4px 0 0 black inset;
}

.arrow-swipped {
  transform: rotate(0deg);
  box-shadow: 0px -4px 0 0 black inset;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
