<div class="tracability-info">
  <i class="fas fa-times close-info"></i>
 Neobinol met à disposition cet outil de traçabilité pour vous garantir une expérience optimale, vous apportant la
 transparence absolue sur la fabrication de vos produits.
</div>
