<div class="container mt-3">
  <div class="product-card mx-5 my-3 pb-2">
    <%= cl_image_tag "neobinol0", width: 200, height: 133, class: "mt-2" %>
    <h5 class="product-name">BODY RELIEF OIL</h5>
    <div class="trace-me mt-3 mb-2">TRACE ME: A01349</div>
    <p>Manufacture Date:</p>
    <p>Expiry Date:</p>
  </div>
</div>
